* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.home {

    background-image: url("../images/Frame.png");
    width: 100%;
    height: 135vh;

}

.menu a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 4px;
    padding: 13px;


}

.headd {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.headmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}


.search {
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    padding: 12px 1px 10px 10px;
    width: 150px;
    background-color: transparent;
    margin-right: 20px;
}

.search i {
    color: white;
    margin-right: 15px;
}

.search input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 13px;
    width: 100%;

}

.searchi nput::placeholder {
    color: rgba(174, 220, 177, 0.7);
}

.header1 {
    position: relative;
    padding-right: 40px;
}

.asset {
    position: absolute;
    left: 625px;
    width: 30px;
}

.asset img {
    width: 520px;

}

.asset {
    position: absolute;
    top: 110px;
}

.logo {
    height: 60px;
    position: relative;
    left: 20px;
    top: 5px;
    object-fit: contain;
}


.textyour {
    display: inline-block;
    background: #34d56d9d;
    border: 2px solid #19e388;
    color: white;
    padding: 7px 30px;
    border-radius: 20px 20px 0px 20px;
    font-size: 16px;

}

.textyour {
    position: relative;
    top: 80px;
}

.more {
    position: relative;
    top: 100px;
}

.we {
    position: relative;
    top: 130px;
}

.app button {
    padding: 10px 44px 12px 10px;
    border-radius: 20px 20px 20px 20px;
    font-size: 16px;
    border: none;
    color: #ffffff;

}
.layers {
  background-image: url("../images/Frame\ 319.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh; 
}
.app {
    position: relative;
    top: 200px;
}

.btn {
    position: relative;
    top: 165.9px;
    margin-left: 148px;
}
.vect{
    position: relative;
    margin-left: 390px;
    bottom: 30px;
}

.or {
    color: rgb(255, 255, 255);
    position: relative;
    top: 140px;
    margin-left: 200px;
}

.cn a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 2px solid #ffffff;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
}

.cn {
    position: relative;
    top: 120px;
    margin-left: 245px;
}

.hor {
    position: relative;
    top: 220px;
}

.hour {
    color: #ffffff;
    position: relative;
    top: 158px;
    margin-left: 85px;
}

.leftsection {
    padding: 60px;
}

.checkcmp {
    position: relative;
    bottom: 77.68px;
    margin-left: 500px;
    display: flex;
    justify-content: center;
}

.check {
    background: #ffffff;
    border-radius: 25px 25px 0px 0px;
    padding: 40px;
    width: 600px;
    height: 284px;

    margin-bottom: 20px;
}

.form {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}


.inputb {
  flex: 1;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px 15px;
  background-color: #fff; 
  position: relative;
}

.inputb i {
  color: #2196f3;
  margin-right: 10px;
  font-size: 18px;
  min-width: 20px;
}

.inputb input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    color: gray;
}

.btncheck {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    margin-left: 120px;
}


.cont_servises{
   
margin: 16px;
border-radius: 16px;
  background-color: #d6f6fdc8;
  width: 96%;
  height: 760px;
  display: flex;
  flex-direction: column;
 
}



.cont_servises1{
display: flex;
justify-content: space-around;

}


.about_img{
transform: scale(0.7);
 
}

.habout{

margin-top: 70px;
border: 2px solid #21d282;
background-color: #3dec8688;

padding: 4px 4px 4px 9px;
color: white;
 
border-radius:  9px   9px  0px   9px;
width: 110px;
font-size:16px ;


}



.INSWER{

width: 410px;

color: #3498DB;


}

.id_p{

width: 70%;


}


.about_fn{

margin-right: 190px;
height: 100px;
 



}

.bo_p{

 margin-top: 70px;

}

.id_dec{

color: #3498DB;

}


.dis_vt{
display: flex;
 flex-direction: row; 
 align-items: center;



}


.img_adp{

height: 22px;
 

}

  .bar_desain  {
padding: 10px;
border-radius: 16px;
    
border: #97bae2 solid  1px;
 
height: 250px;

  }



  .year_20{
    position: absolute;
background-color: #5EE088;

width: 140px;
height: 90px;
padding-left: 10px;

border-radius: 9px  9px 9px 0px;

     left: 270px;
     top: 1450px;


  }


  .im_chiin{
position: absolute;
 margin-right: 70px;
  top: 1300px;


  }


   .im_chiin1{

position: absolute;
margin-left: 49px;
top: 1300px;


  }
 
  .chiin2{
    position: absolute;
    bottom: 530px;
   margin-right: 420px;
  }
   .services{
background-color: #e0ebfa;
border-radius: 25px;
margin: 0px;
padding-left:40px;
padding-right: 50px;
padding-bottom: 50px;
padding-top: 40px;
}
  .sr{
    display: inline-block;
    background: #34d56d9d;
    border: 2px solid #19e388;
    color: white;
    padding: 7px 30px ;
    border-radius: 20px 20px 0px 20px;
    font-size: 16px;

  }
  .sr1{
    background-color: #baccc4;
    width: 300px;
    height:300px;
    border-radius: 20px 20px 20px 20px;
     padding-left: 45px;
    padding-right: 45px;
    padding-top: 30px;
    padding-bottom: 30px;
    
  }
  
  .serv1{
 
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px;

  }
    .serv2{
    display: flex;
    justify-content: space-between;
     padding-left: 45px;
    padding-right: 45px;
  }
  .sr01{
    font-size: 50px;
    position: relative;
    margin-left: 75px;
   bottom: 50px;
   color: #dfe2e4;
  }
  .sr{
    margin-left: 50px;
  }
  .cntloren{
    position: relative;
    margin-right: 285px;
    display: flex;
    justify-content: space-around;
  }
  .butnsr{
    background-color:transparent;
    border: 1px solid rgb(219, 106, 0);
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
    color: rgb(219, 106, 0);
    cursor: pointer;

  }
  .btnsee{
      background-color:rgb(255, 156, 63);
    border: 1px solid rgb(219, 106, 0);
    
    padding: 20px;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
    position: relative;
    margin-left: 510px;
    
  }
  .dctr1{
    background-color: #c5d3cd94;
    width: 345px;
    height:450px;
    border-radius: 20px 20px 20px 20px;
    
    text-align: center;
  }
  .dctrs1{
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px; 
  }
.ourdc{
    display: inline-block;
    background: #34d56d9d;
    border: 2px solid #19e388;
    color: white;
    padding: 7px 30px ;
    border-radius: 20px 20px 0px 20px;
    font-size: 16px;
    position: absolute;
    left : 550px ;
  }
  .doctors{
   text-align: center; 
  }
  .seebtn {
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 5px 20px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;

  margin: 0 auto;
}

.seebtn .flx {
  background-color: white;
  color: #ff6f61;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 18px;
 
}
.appointment-book{
    display: flex;
    justify-content: center;
    position: relative;
}
.appointment-book-text{
    position: absolute;
    gap: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    left: 220px;
    top: 80px;
    font-size: 20px;
   
}
.appointment-book-text div{
    background-color: rgba(227, 250, 255, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 350px;
    border-radius: 35px;
    font-size: 15px;
    font-family: fantasy;
    cursor: pointer;
}
.join1{
    border: 1px solid #baccc4;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
}
 
.join22{
  display: flex;
    justify-content: space-between;
    padding-left: 50px;
  
}

.pr{

    display: inline-block;
    background: #34d56d9d;
    border: 2px solid #19e388;
    color: white;
    padding: 7px 30px ;
    border-radius: 20px 20px 0px 20px;
    font-size: 16px;
    position: absolute;
    left : 550px ;
  
}